<%= form_with(model: post2, local: true) do |form| %>
  <% if post2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post2.errors.count, "error") %> prohibited this post2 from being saved:</h2>

      <ul>
        <% post2.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sno %>
    <%= form.number_field :sno %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :genere %>
    <%= form.text_field :genere %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :npages %>
    <%= form.number_field :npages %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
